// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


$tb : solid 2px #c90;
$hightlight : #a00;
$pos : #0C0;
$neg : #C00;
$darkborder : solid 1px #555;

body{
	width: 480px;
	height: 800px;
	background-image: url('../imgs/BullBg.jpg');
	padding: 10px 10px 10px 10px;
}
/* body, p{
	font-family: "Open Sans Regular";
} */
body.game{
	background-image: none;
	padding: 0px;
}
/* .backdrop{
	@extend .row;
	//position: absolute;
	z-index: 1;
	margin: 0;
	height: 100%;
	background-color: rgba(0,200,0,.7);
} */
.games{
	padding: 15px 0px 15px 0px;
	text-align: center;
	div.bgframe{
		width: 200px;
		display: inline-block;
		margin:5px 5px 5px 5px;
		padding: 19px 0px 0px 17px;
		background-image: url('../imgs/frame.png');
		//background-size: cover;
		//background-size: contain;
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: left top;
		div.imgframe{
			background-color: rgba(0,0,0,0.65);
			border: 2px solid rgba(255,255,255,1);
		}
	}
	/* td{
		padding: 20px;
		 img{
			
		} 
	} */
}
body.optionpage, body.statpage{
	@include gradient-vertical($brand-primary, #000, 60%, 100%);
	
}
.center{
// #backdrop{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    //height: 50%;
    //width: 50%;
}
.big-icon{
	font-size: 10em;
	color: $body-bg;
}
.btn.active{
	outline: none;
    box-shadow: none;
}
h1, h2, h3{
	font-family: 'Abel', sans-serif;
	// font-family: "Open Sans Light";
}

strong.title{
	font-size: 28px;
	// font-family: "Open Sans Light";
	font-family: 'Abel', sans-serif;
}

.bg-primary{
	a{
		padding: 0px 10px 10px 0px;
	}
	a:hover{
			background-color: transparent;
			color:$body-bg;
		}
	/* a, &:hover{
		color: #FFF;
		

	} */
}
#menubutton, #pager{
	a{
		@extend .btn-primary;
		//text-align: left;
		color: #000;
		background: rgba(255,255,255,.3);
		&:active, &:hover{
			color: #000;
			background: rgba(255,255,255,.5);;
		}
		&:first-child{
			//border-top: none;
		}
	}
	a.active{
			color: #000;
			background: rgba(255,255,255,.5);
			&:active, &:hover{
				color: #000;
				background: rgba(255,255,255,.5);;
			}
	}
}
#settingmenubutton{
	margin-top: 65px;
	a.btn.active{
			color: $hightlight;
	}
}
#mainpanel{
	margin-top: 100px;
}
.panel{
	border: 2px solid rgba(255,255,255,0.1);
}
.panel-primary{
	background: rgba(0, 0, 0, 0.2);
	.panel-heading{
		background: rgba(0, 0, 0, 0.5);
		border-bottom: none;
		color: $neg;
	}
}
#pager{
	bottom: 0;
	position: absolute;
}
.section{
	 @include make-row();

}
.ui-widget-header{
	background: $brand-primary;
}
.ui-widget{
	background-color: $brand-primary;
}
/* .center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
.level{
	//@include size (40%, 100%)
	//margin: 0px 30px;
	width: 90%;
	margin-top: 20px;
	//display: inline-block;
	a.btn{
		color: black;
		background-image: url('../imgs/ButtonBGOff.png') !important;
		background-repeat: repeat-x !important;
		background-position: 0px -4px !important;
		font-family: 'Abel', sans-serif;
		//font-family: "Open Sans Light";
		&:hover, &:active, &.active{
			background-image: url('../imgs/ButtonBG.png') !important;
			color: $body-bg;
			font-family: 'Abel', sans-serif;
			//font-family: "Open Sans Bold";
		}

	}
	#level1{
		background: #F90;
	}
	#level2{
		background: #F60;
	}
	#level3{
		background: #F00;
	}
}

.tcenter{
	text-align: center;
}

.updateprogress{
	margin-top: 20px;
}
/* .start{
	margin-top: 40px;
	width: 90%;
	//height: 100px;
	//.border-top-radius(20);
	a{
		@include border-top-radius(20);
		@include border-bottom-radius(20);
		h1{
			line-height: 110px;
			margin: 0px;
			padding: 0px;
			//padding-right: 50px;
			//left:-30;
			i.fa{
				position: relative;
				top:10;
				//left:2;
			}
		}

	}
} */
.startbutton{
	//border: $tb;
		text-align: center;
	a{
		
		display: inline-block;
		//background: url('../imgs/PlayButton.jpg');
		background-image: url('../imgs/PlayButtonTr.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		height: 260px;
		width: 260px;
		//font-family: "Open Sans Light";
		h1{
			@extend .center;
			position: relative;
			//line-height: 90px;
			font-size: 36px;
			line-height: normal;
			margin: 0px;
			padding: 0px;
			color: $body-bg;
			// font-family: "Open Sans Regular";
			font-family: 'Abel', sans-serif;
			}

		&:hover, &:active{
			text-decoration: none;
			background-image: url('../imgs/PlayButtonTrHover.png');
			h1{
				//font-family: "Open Sans Bold";
				font-family: 'Abel', sans-serif;
				font-size: 46px;
			}
		}
	}
}
.statbutton{
	@extend .startbutton;
	a{
		h1{
			font-size: 32px;
		}
		&:hover, &:active{
			h1{
				//font-family: "Open Sans Bold";
				font-size: 40px;
			}
		}
	}
}
#sliderdiv{
	padding: 10px 30px 0px 30px;
	h3{
		margin: 0px;
		padding: 0px;
		margin-bottom: 30px;
		line-height: normal;
		color: $body-bg;
	}
}
#statdiv{
	padding: 10px 30px 10px 30px;
	background-color: $body-bg;
	div{
		@include make-xs-column(3);
		}
	h3{
		margin: 0px;
		padding: 0px;
		//margin-bottom: 30px;
		line-height: normal;
		color: $brand-primary;
	}
}
#scorediv{
	margin: 30px 10px 0px 10px;
	div{
		//border: $tb;
		@include make-xs-column(3);
		color: $body-bg;
		font-size: 20px;
		font-family: "Open Sans Light";
		border-top: $darkborder;
		line-height: 1.6em;
		i{
		font-size: 22px;
		}

	}
	.blink{
			opacity: .5;
		}
	.lg{
		font-size: 32px;
		border: none;
	}
	.statcenter{
		@include make-xs-column(6);
		text-align: center;
		font-size: 20px;
		padding: 20px 0px 0px 0px;
		//line-height: normal;
		label, strong{
			
			line-height: .9em;
			display: block;
			margin: 0px;
			padding: 0px;
		}
		strong{
			font-size: 120px;
			
		}
	}
	.neg{
		color: $neg;
	}
	.pos{
		color: $pos;
	}
	.statleft{
		text-align: right;
	}
	.statright{
		padding-left: 0px;
	}

	strong{
		font-family: "Open Sans Bold";
	}
}
.ui-slider{
	background: $brand-primary;
	margin-top: 0px;
	margin-bottom: 0px;

	height: 10px;
	//margin: 20px 30px 20px 20px;
	// left:30;
	//right:0;
	//background-color: $brand-primary !important;
	background-color: lighten($brand-primary, 50%);
	//color: #ff0; //$gray-light;//lighten($brand-primary, 50%);
	.ui-state-focus, .ui-state-active, .ui-state-default{
		i{
			//border: $tb !important;
		}
	}
	.ui-slider-handle{
		//background: $brand-primary;
		padding: 0px;
		background: transparent;
		//width: 100px;
		
		//top: -20;
		//left: -15;
		border: none;
		&:active, &:hover{
			border: none;
		}
		i{
			border: none;
			&:active, &:hover{
				border: none;
			}
			position: absolute;
			left: 0;
			top: -18;
			margin: 0px;
			color: $body-bg;//$brand-primary;
		}
	}
}

.ui-keyboard{
	padding: 10px 0px;
	left: 10;
	right: 10;
	top: auto;
	bottom: 10;
	background: transparent;
	border: none;
	.ui-keyboard-keyset{
		width: 100%;
		.ui-state-default{
			color: #999;//$body-bg;
			border-color: #999;
		}
		.ui-state-active, .ui-state-hover{
			color: $body-bg;
			border-color: $body-bg;
		}
		button{
			min-width: 3.3em;
			height: 3.3em;
			background: $brand-primary;

			span{
				font-size: 1.5em;
				font-family: "Open Sans Light";
			}
		}
	}
}
.modal{
	.modal-header, .modal-footer{
		border: none;
	}
}
a.btn{
	i{
		padding-top: 4px;
	}
}
.list-group{
	i{
		padding-top: 4px;
	}
}