@font-face {
  font-family: "Open Sans Light";
  src: url('/fonts/OpenSans-Light-webfont.ttf?1448761178') format('truetype');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url('/fonts/OpenSans-Bold-webfont.ttf?1448761178') format('truetype');
}
@font-face {
  font-family: "Open Sans Regular";
  src: url('/fonts/OpenSans-Regular-webfont.ttf?1448761178') format('truetype');
}
